<form #loginForm="ngForm" (ngSubmit)="SignupUser(loginForm)">
  <div [class]="'flex'">
    <label for="">UserName:</label>
    <input type="text" placeholder="enate a Username" pattern="[a-zA-Z]+$" minlength="3" #name="ngModel" name="name" required ngModel>
    <p *ngIf="name.invalid && name.touched">UserName Require</p>
  </div>
  <div [class]="'flex'">
    <label for="">Email:</label>
    <input type="email" placeholder="enate a Email" name="email" ngModel pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$" required #email="ngModel">
    <p *ngIf="email.invalid && email.touched" >Email Require</p>
  </div>
  <div [class]="'flex'">
    <label for="">Password:</label>
    <input type="password" placeholder="enate a Password" name="password" minlength="8" maxlength="8" ngModel required #password="ngModel">
    <p *ngIf="password.invalid&&password.touched">Pawword</p>
  </div>
  <button>Submit</button>

  <div >
    <table [cellPadding]="'10px 0px'">
      <thead>
        <tr>
          <th>UserName</th>
          <th>Email</th>
          <th>Password</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of Users; let i=index">
        <tr>
          <td>{{Users[i].name}}</td>
          <td>{{Users[i].email}}</td>
          <td>{{Users[i].password}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</form>