<h1>Reactive_Form</h1>

<form (ngSubmit)="loginForm()" [formGroup]="Signup"  >
  <div [class]="'flex'">
      <div [class]="'flex'">
        <label for="">UserName:</label>
        <input type="text" placeholder="enate a Username" name="Username" formControlName="Username">
       <ng-container *ngIf="userValidator&&userValidator?.invalid && submitbtn||userValidator?.touched">
        <span *ngIf="userValidator?.errors?.['required']" style="color: red;">This File Required...</span>
        <span *ngIf="userValidator?.errors?.['pattern']" style="color: red;">Not Accept Capital alphabet...</span>
        <span *ngIf="userValidator?.errors?.['minlength']" style="color: red;">UserName Length minimmum 3...</span>
       </ng-container>
       <label for="">Email:</label>
            <input type="email" placeholder="enate a Email" name="email" formControlName="email">
            <ng-container *ngIf="emailValidator?.invalid && submitbtn ||emailValidator?.touched">
              <span *ngIf="emailValidator?.errors?.['required']" style="color: red;">this Email required</span>
            </ng-container>
        </div>
      </div>
      <!-- <div formArrayName="StudentList">
        <div *ngFor="let student of StudentsArray().controls; let i=index;">
          {{student}}
          <div [class]="'flex'">
            <input type="email" placeholder="enate a Email" name="email" formControlName="student_email">
            <ng-container *ngIf="emailValidator?.invalid && submitbtn ||emailValidator?.touched">
              <span *ngIf="emailValidator?.errors?.['required']" style="color: red;">this Email required</span>
            </ng-container>
            <button style="background-color: red;border: 1px solid black; border-radius: 10px; cursor: pointer; color: white;" (click)="removeinput(i)">Email box delete</button>
          </div>
        </div>
      </div> -->
      <!-- <button style="background-color: skyblue;border: 1px solid black; border-radius: 10px; cursor: pointer;" (click)="addInput()">Email Add</button> -->
      <div [class]="'flex'">
        <label for="">Password:</label>
        <input type="password" placeholder="enate a Password" name="password" formControlName="password">
      <ng-container *ngIf="passwordValidator&&passwordValidator.invalid&&submitbtn || passwordValidator?.touched">
        <span *ngIf="passwordValidator?.errors?.['required']" style="color: red;">password required...</span>
        <span *ngIf="passwordValidator?.errors?.['maxlength']" style="color: red;">maximmu length 8 required...</span>
        <span *ngIf="passwordValidator?.errors?.['minlength']" style="color: red;">minimmum length 8 required...</span>
      </ng-container>
      <div [class]="'flex'">
        <label for="">gender:</label>
        <input type="radio" name="gender" id="" value="male" formControlName="gender"><p>male</p>
        <input type="radio" name="gender" id="" value="female" formControlName="gender"><p>female</p>
      </div>
        <ng-container *ngIf="genderValidator&&genderValidator.invalid&&submitbtn || genderValidator?.touched">
          <span *ngIf="genderValidator?.errors?.['required']" style="color: red;">Gender Require...</span>
        </ng-container>
      </div>
      <div>
        <input type="checkbox" value="kabadi" formControlName="kabadi">kabadi
        <input type="checkbox" value="khokho" formControlName="kabadi">khokho
        <input type="checkbox" value="criket" formControlName="kabadi">criket
      </div>
      <button type="submit" >Submit</button>
</form>