<p>user-form works!</p>
<a routerLink="" class="mt-5  ms-5 d-block fw-bold text-primary-emphasis">Home</a>
<form class="col-4 mx-auto" [formGroup]="UserForm" (ngSubmit)="UserFormSubmit()">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">UserName: </label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="UserName">
        <ng-container *ngIf="Uservalidor.invalid&&UserDataSubmit || Uservalidor.touched">
            <div class="form-text text-danger" *ngIf="Uservalidor?.errors?.['required']">UserName Require.</div>
            <div class="form-text text-danger" *ngIf="Uservalidor?.errors?.['minlength']">UserName minimum 3 character.</div>
            <div class="form-text text-danger" *ngIf="Uservalidor?.errors?.['pattern']">UserName Only Alphabets.</div>

        </ng-container>
        
      </div>
      <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Age : </label>
          <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  formControlName="Age">
          <ng-container *ngIf="AgeValidators.invalid && UserDataSubmit || AgeValidators.touched">
            <div  class="form-text text-danger" *ngIf="AgeValidators?.errors?.['required']">Age Require.</div>
        </ng-container>

        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="Email">
          <ng-container *ngIf="EmailValidator.invalid && UserDataSubmit|| EmailValidator.touched">
            
            <div class="form-text text-danger" *ngIf="EmailValidator?.errors?.['required']">Email Is Require.</div>
            <div class="form-text text-danger" *ngIf="EmailValidator?.errors?.['pattern']">Email Is Not Valid.</div>
        </ng-container>
          
        </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>