<div appColors class="box">
  <div class="imgdiv">
    <img src="https://images.pexels.com/photos/90946/pexels-photo-90946.jpeg?cs=srgb&dl=pexels-madebymath-90946.jpg&fm=jpg" alt="Loding...">
  </div>
  <div  class="content">
    <p>{{lorem | titlecase | sliceContent}}</p>
    <button appColors  class="btnDir">click</button>
  </div>
</div>

<div class="custom-drop">
  <span class="drop-header" appDropdown>
    Drop Down
  </span>
  <div class="dropdown-content">
    <a href="">Item 1</a>
    <a href="">Item 2</a>
    <a href="">Item 3</a>
    <a href="">Item 4</a>
  </div>
</div>